vprtemponeuro/__pycache__/
vprtemponeuro/src/__pycache__/
vprtemponeuro/dataset/qcr
vprtemponeuro/dataset/brisbane_event/davis/daytime.zip
vprtemponeuro/dataset/brisbane_event/davis/sunset1.zip
vprtemponeuro/dataset/brisbane_event/davis/sunset2.zip
vprtemponeuro/dataset/brisbane_event/gopro
vprtemponeuro/dataset/brisbane_event/GT_reference_set
wandb/
